{% comment %}

This serves as a base template for other pages, such as the default /page.html and test /page.test.html

{% endcomment %}


<link
  rel="stylesheet"
  href="{{ 'section-main-page.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


{% if page %}
  <p>page.handle: {{ page.handle }}!</p>
{% endif %}

{% comment %}
prints: "template--18302228136214__main" on every page rendered
{% endcomment %}
<p>{{ section.id }}</p>
<p>{{ product.title }}</p>

{% comment %} assigning handle to access product resources {% endcomment %}
{% liquid
   assign product_handle = section.settings.product
   assign product = all_products[product_handle]
%}

Product: "{{ product.title }}"
{% comment %} output object.attribute but only prints "Product: " {% endcomment %}
Description: "{{ product.description }}"
{% comment %} output object.attribute but only prints "Description: " {% endcomment %}

{% render "page-title-treatment", productX: product %}
{% comment %} this says inserts the liquid file here, and then brings in product by assigning it to productX
{% endcomment %}{%- style -%}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}